.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: hsl(204, 43%, 93%);
    
}
.cards{
    margin: auto;
    margin-top: 5%;
    display: grid;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.3);
    color: hsl(204, 43%, 93%);
    font-size: 16px;
    font-family: 'Karla',sans-serif;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
.card1{
    grid-column: span 2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}
.card2{
    border-bottom-left-radius: 10px;
    font-family: 'Karla',sans-serif;
    background-color: hsl(179, 62%, 43%);  
}
.card3{
    border-bottom-right-radius: 10px;
    background-color: hsla(179, 62%, 43%, 0.7);
}
.card1,.card2,.card3{
    padding: 20px;
}
.card2,.card3{
    padding-bottom: 0;
}
.card1-h1{
    color: hsl(179, 62%, 43%);
}
.card1-h2{
    color: hsl(71, 73%, 54%);
}
.card2-h2{
    font-size: 1em;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.card2-p{
    margin-bottom: 3.5rem;
}
span{
    font-size: 2em;
    color: hsl(0, 0%, 100%);
}
.card1-h1,.card1-h2,.card2-h1,.card3-h1{
    font-size: 1.5rem;
}
.card1-p,.card3-p{
    line-height: 1.5rem;
}
.card3-p{
    white-space: pre;
}
.card1-p{
    color: hsl(200, 7%, 74%);
}
.btn{
    margin-top: 5%;
    border-radius: 5px;
    padding: 15px 100px;
    text-decoration: none;    
    color: hsl(0, 0%, 100%);    
    background-color: hsl(71, 73%, 54%);
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
}
@media (max-width: 1440px) {
    .cards{
        width: 50%;
    }
}
@media (min-width: 751px) and (max-width: 1200px) {
    .cards{
        width: 80%;
    }
}
@media (max-width: 750px) {
    .cards{
        width: 80%;
        display: block;
    }
    .card1{
        font-size: 15px;
    }
    .card2{
        padding: 30px;
        border-bottom-left-radius: 0;
    }
    .card3{
        border-bottom-left-radius: 10px;
    }
    .card1-h2{
        font-size: 1.2em;
    }
}